.talent{
    margin: 0 auto;
    padding: 0 165px;
    // max-width: 1440px;
    background: #014E56;
    margin-top: -1px;

    &__content{
        display: flex;
        gap: 35px;
        justify-content: space-between;
        padding: 60px 0px 250px;
        margin: 0 auto;
    }

    &__right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    &__title{
        margin: 0 auto;
        padding: 0;
        margin-left: 0;
        max-width: 635px;
        height: 200px;
        color: #FFF;
        font-family: "Livvic";
        font-size: 100px;
        font-style: normal;
        font-weight: 700;
        line-height: 100px;
    }

    &__text{
        width: 445px;
        color: #FFF;
        font-family: 'Livvic', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
    }
}


span{
    color: #F67E7E;
}


@media only screen and (max-width: 920px){
    .talent{
        max-width: 768px;
        padding: 10px 40px;
        margin: 0 auto;
        margin-top: -1px;

        &__content{
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 60px 0px 250px;
            margin: 0 auto;
        }    
    
        &__title{
            max-width: 689px;
            height: 100px;
            margin: 0 auto;
            text-align: center;
            font-size: 64px;
            line-height: 56px; 
        }
    
        &__img{
            display: none;
    
        }
    
        &__text{
            max-width: 457px;
            color: #FFF;
            text-align: center;
            font-family: "Livvic";
            font-size: 15px;
        }
    }
}


@media only screen and (max-width: 600px){
    .talent{
        margin: 0;
        // margin: 0 auto;
        padding: 48px 24px;
        max-width: 375px;
        // min-width: 375px;
        // margin-top: -1px;
    
        &__title{
            max-width: 327px;
            height: 80px;
            font-size: 40px;
            line-height: 40px; 
        }
    
        &__img{
            display: none;
    
        }
    
        &__text{
            margin: 0 auto;
            max-width: 327px;
        }
    }  
}
    
span{
    color: #F67E7E;
}
    